$base-font-size: 1.6rem;

$space:1.4rem;
$site-max-width: 50rem;


$gray: #dddddd;
$large-font-size: 1.8rem;

$input-border: $gray;


$boxed-view-overlay-bg: $gray;
$boxed-view-bg: white;

$button-bg: #5b4681;
$button-color: white;
$button-pill-color: #5b4681;
$button-secondary-bg: #f9f9f9;
$button-secondary-color: #777777;
$button-secondary-border-color: #dddddd;


$header-bg: #5b4681;
$header-color: white;

$item-bg: #f9f9f9;
$item-border: darken($item-bg, 8%);
$item-text-color: #777777;


